body {
    background: linear-gradient(
        to right,
        rgb(163, 238, 144),
        rgb(135, 189, 122)
    );
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 1000;
    color: #000000;
    text-decoration: none;
  }
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}
.header img {
    width: 205px;
}
.navlist {
    display: flex;
    font-size: 20px;
    list-style: none;
}
.navlist li {
    padding: 0 30px;
}
.navlist li a {
    transition: all 0.3s ease 0s;
  }
  
.navlist li a:hover {
    color: whitesmoke;
    text-shadow: 1px 1px black;
}
.settings{
    padding: 0;
    border: none;
    background: none;
}
.settings img {
    width: 50px;
}
.intro {
    padding-bottom: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.infobox {
    padding-top: 100px;
    font-size: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.intro h1 {
    font-size: 50px;
}
.intro img {
    width: 150px;
}
.articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 65px;
}
.articles div {
    height: 300px;
    width: 500px;
    overflow: hidden;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.7s;
}
.articles img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    position: relative;
}
.articles div:hover {
    transform: scale(1.2);
}
.button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 25px;
    background-color: rgb(0, 105, 0);
    border-radius: 3px;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .articles div:hover .button {
    opacity: 1;
  }
  @media only screen and (min-width: 1920px) and (min-height: 1080px) {
    body {
        background: linear-gradient(
            to right,
            rgb(163, 238, 144),
            rgb(135, 189, 122)
        );
    }

    .header {
        padding: 2vw 2vh;
    }

    .header img {
        width: 5vw;
    }

    .navlist {
        font-size: 1.5vw;
    }

    .navlist li {
        padding: 0 1.5vw;
    }

    .settings img {
        width: 1.5vw;
    }

    .intro {
        padding-bottom: 4vh;
    }

    .infobox {
        padding-top: 5vh;
        font-size: 2vw;
    }

    .intro h1 {
        font-size: 3vw;
    }

    .intro img {
        width: 3.5vw;
    }

    .articles {
        padding: 4vh 4vw;
    }

    .articles div {
        height: 20vh;
        width: 30vw;
        margin-bottom: 3vh;
    }

    .articles img {
        border-radius: 0.8vw;
    }

    .button {
        padding: 1vh 2vw;
    }
}
@media only screen and (min-width: 1280px) and (min-height: 800px) {
    body {
        background: linear-gradient(
            to right,
            rgb(163, 238, 144),
            rgb(135, 189, 122)
        );
    }

    .header {
        padding: 3vw 3vh;
    }

    .header img {
        width: 7vw;
    }

    .navlist {
        font-size: 1.8vw;
    }

    .navlist li {
        padding: 0 2vw;
    }

    .settings img {
        width: 2vw;
    }

    .intro {
        padding-bottom: 6vh;
    }

    .infobox {
        padding-top: 8vh;
        font-size: 2.5vw;
    }

    .intro h1 {
        font-size: 4vw;
    }

    .intro img {
        width: 5vw;
    }

    .articles {
        padding: 5vh 5vw;
    }

    .articles div {
        height: 25vh;
        width: 40vw;
        margin-bottom: 3vh;
    }

    .articles img {
        border-radius: 1vw;
    }

    .button {
        padding: 1.5vh 3vw;
    }
}
@media only screen and (min-width: 420px) and (min-height: 900px) {
    body {
        background: linear-gradient(
            to right,
            rgb(163, 238, 144),
            rgb(135, 189, 122)
        );
    }

    .header {
        padding: 2vw 2vh;
    }

    .header img {
        width: 8vw;
    }

    .navlist {
        font-size: 1vw;
    }

    .navlist li {
        padding: 0 1.5vw;
    }

    .settings img {
        width: 2.5vw;
    }

    .intro {
        padding-bottom: 4vh;
    }

    .infobox {
        padding-top: 5vh;
        font-size: 2.5vw;
    }

    .intro h1 {
        font-size: 2vw;
    }

    .intro img {
        width: 8vw;
    }

    .articles {
        padding: 4vh 4vw;
        gap: 2vw;
    }

    .articles div {
        height: 50vh;
        width: 80vw;
        margin-bottom: 3vh;
    }

    .articles img {
        border-radius: 1vw;
        height: 50vh;
    }

    .button {
        padding: 1.5vh 3vw;
    }
}