.imagecon {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
.imagecon img{
    width: 900px;
    height: 600px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
}
.textbox {
    padding: 15px 15px;
    width: 700px;
    height: 500px;
    background-color: rgb(0, 177, 0);
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    font-family: 'Saira Condensed', sans-serif;
}
.textbox h1 {
    font-size: 50px;
}
.textbox p {
    padding-top: 20px;
    padding-left: 15px;
    font-size: 25px;
}