body{
    margin: 0;
    background: linear-gradient(
        to right,
        rgb(163, 238, 144),
        rgb(135, 189, 122)
    );
  background-size: cover;
  
  
}
#nav {
    display: flex;
    height: 10vh;
    width: 99vw;
    
    justify-content: end;
    align-items: center;
<<<<<<< HEAD

    font-family: 'Saira Condensed', sans-serif;
    font-size: 0.9vw;
}
#plus{
    width: 2vw;
    height: 3vh;
}
=======

    font-family: 'Saira Condensed', sans-serif;
}


>>>>>>> 4d9098bf3139c74471cd345f94e1a0992c98b60b
#nav a {
    color: black;
    text-decoration: none; 
    padding: 0 5px; 
}
#editor {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%; 
    max-width: 800px; 
    max-height: 80%; 
    overflow-y: auto; 
    z-index: 1;
    font-family: 'Saira Condensed', sans-serif;
<<<<<<< HEAD
    font-size: 0.9vw;
=======

>>>>>>> 4d9098bf3139c74471cd345f94e1a0992c98b60b
}

#title {
    width: 99%;
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 5px; 
    background-color: #D9D9D9;
    border: none;
    font-family: 'Saira Condensed', sans-serif;

}

#text {
    width: 99%;
    height: 300px;
    font-size: 1.2em;
    border-radius: 5px; 
    background-color: #D9D9D9;
    border: none;
    font-family: 'Saira Condensed', sans-serif;

}
#submit{
   margin-left: 18vw;
    margin-top:5px;
    width: 100px;
    height: 20px;
    border: none;
    border-radius: 10px; 
    background-color: #D9D9D9;;
    font-family: 'Saira Condensed', sans-serif;

}
.article {
    cursor: pointer;
    margin-bottom: 10px;
<<<<<<< HEAD
    height: 5vh;
    width: 5vw;
    font-size: 1vw
=======
    font-family: 'Saira Condensed', sans-serif;

>>>>>>> 4d9098bf3139c74471cd345f94e1a0992c98b60b
}

.article-content {
    display: none;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color:#a8a8a8 ;
<<<<<<< HEAD
    height: 8vh;
    width: 99vw;
=======
    font-family: 'Saira Condensed', sans-serif;

>>>>>>> 4d9098bf3139c74471cd345f94e1a0992c98b60b
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
#showEditor {
    margin-left:45vw;
    justify-self: center;
    margin-top: 2vh;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 25px; 
    background-color: #F4F3F3;
    display: flex;
<<<<<<< HEAD
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-size: 0.7vw;
}
@media screen and (max-width: 420px) and (max-height: 900px) 
{
    
    #nav {
        flex-direction: column;
        height: auto;
        font-size: 42vw;
        justify-content: end;
    }

    #nav a {
        margin-bottom: 5px;
    }

    #editor {
        height: 50vh;
        width: 70vw;
        max-width: none;
        font-size: 70vw;
    }

    #title
    {
        width: 70vw;
        height: 5vw;
        font-size: 5vw;
    }
    #text {
        width: 70vw;
        height: 70vw;
        font-size: 5vw;
    }
    #submit {
        justify-self: center;
        width: 60vw;
    }

    #showEditor {
        justify-self: center;
        width: 10vw;
        font-size: 42vw;
    }
    #plus{
        width: 2vw;
        height: 2vh;
    }
    .article{
        height: 5vh;
    width: 5vw;
    font-size: 0.5vw
    }
}
@media screen and (max-width: 1280px) and (max-height: 800px) 
{
    #nav {
        flex-direction: column;
        height: auto;
        font-size: 0.9vw;
       justify-content: end;
    }

    #nav a {
        margin-bottom: 5px;
    }

    #editor {
        width: 48vw; 
        max-width: none;
        font-size: 0.9vw;
    }

    #title,
    #text {
        width: 48vw;
    }

    #submit {
        justify-self: center;
        width: 10vw;
    }

    #showEditor {
        justify-self: center;
        width: 48vw;
        font-size: 0.7vw;
    }
    #plus{
        width: 2vw;
    height: 2vh;
    }
    .article{
        height: 5vh;
    width: 5vw;
    font-size: 0.5vw
    }
}
@media screen and (max-width: 1920px) and (max-height: 1080px) 
{
    #nav {
        flex-direction: column;
        height: auto;
        font-size: 0.9vw;
        justify-content: end;
    }

    #nav a {
        margin-bottom: 5px;
    }

    #editor {
        width: 48vw; 
        max-width: none;
        font-size: 0.9vw;
    }

    #title,
    #text {
        width: 48vw;
    }

    #submit {
        justify-self: center;
        width: 10vw;
    }

    #showEditor {
        justify-self: center;
        width: 10vw;
        font-size: 0.7vw;
    }
    #plus{
        width: 2vw;
        height: 2vh;
    }
=======
    gap: 10px;
    justify-content: center;
    align-items: center;
>>>>>>> 4d9098bf3139c74471cd345f94e1a0992c98b60b
}