body{
    margin: 0;
    background: linear-gradient(45deg, #DEE3D8 5%, #98C67B 95%);
  background-size: cover;
}
#nav {
    display: flex;
    height: 10vh;
    width: 99vw;
    
    justify-content: end;
    align-items: center;

    font-family: 'Saira Condensed', sans-serif;
}


#nav a {
    color: black;
    text-decoration: none; 
    padding: 0 5px; 
}
#editor {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%; 
    max-width: 800px; 
    max-height: 80%; 
    overflow-y: auto; 
    z-index: 1;
    font-family: 'Saira Condensed', sans-serif;

}

#title {
    width: 99%;
    font-size: 2em;
    margin-bottom: 10px;
    border-radius: 5px; 
    background-color: #D9D9D9;
    border: none;
    font-family: 'Saira Condensed', sans-serif;

}

#text {
    width: 99%;
    height: 300px;
    font-size: 1.2em;
    border-radius: 5px; 
    background-color: #D9D9D9;
    border: none;
    font-family: 'Saira Condensed', sans-serif;

}
#submit{
   margin-left: 18vw;
    margin-top:5px;
    width: 100px;
    height: 20px;
    border: none;
    border-radius: 10px; 
    background-color: #D9D9D9;;
    font-family: 'Saira Condensed', sans-serif;

}
.article {
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Saira Condensed', sans-serif;

}

.article-content {
    display: none;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    background-color:#a8a8a8 ;
    font-family: 'Saira Condensed', sans-serif;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
#showEditor {
    margin-left: 48vw;
    margin-top: 2vh;
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 25px; 
    background-color: #F4F3F3;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}