body{
    display:flex;
}
#cards{
    height:500px;
     width:300px;

}
#button{
    
    width: 200px;
    height: 50px;
    margin-left: 75px;
}
#footer{
    display: flex;
    background-color: rgb(31, 31, 31);
    width: 99vw;
    height: 5vh;
   
   margin-top:35vh;
   padding: 0;
   color:gray;
   justify-content: center;
   align-content: center;
}
#contact{
    height: 10vw;
    width: 15vw;
    margin-left: 30vw;
    margin-top: 10vh;
}