
body{
    margin: 0;
}
.navbar {
    overflow: hidden;
  }
  
.navbar a {
  float: left;
  color: rgb(0, 0, 0);
  padding: 30px 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
    
}
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .nav-right {
    float: right;
    position: absolute;
  top: 8px;
  right: 16px;
  }
  h1{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: right;
  }
  p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 800;
    margin-left: 24px;
  }
  footer {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.frame {
  border: 10px ;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%);
  padding: 10px; 
  display: inline-block;
  height: 20%;
  width: 20%;
  margin: 48px;
}

.frame img {
  display: block;  
  object-fit: contain;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.img{
    height: 20%;
    width: 50%;
}
.contain2 {
    display: flex;
    align-items: center;
}
.contain2 img {
    margin-right: 10px;
    height: 20%;
    width: 20%;
}