body{
    margin: 0;
}
.navbar {
    overflow: hidden;
  }
.navbar a {
  float: left;
  color: rgb(0, 0, 0);
  padding: 30px 10px;
  text-decoration: none;
  font-size: 32px;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
}
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .nav-right {
    float: right;
    position: absolute;
    top: 8px;
    right: 16px;
  }
  h1{
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    font-weight: 800;
    text-align: right;
  }
  p{
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 800;
    margin-left: 32px;
  }
  footer {
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}
.upleftlogo{
position: absolute;
width: 203px;
height: 108px;
left: 0px;
top: 16px;
}
.frame {
  border: 10px ;
  background-image: #cccccc;
  padding: 10px; 
  height: 20%;
  width: 30%;
  margin: 48px;
}

.frame img {
  object-fit: contain;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.contain2 {
    display: flex;
    align-items: center;
    background-color: #cccccc;
}
.contain2 img {
    margin-right: 10px;
    height: 20%;
    width: 30%;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.top-right a{
  float: left;
  color: rgb(0, 0, 0);
  padding: 30px 10px;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.bottom-right a{
  color: rgb(0, 0, 0);
  padding: 30px 10px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Saira Condensed', sans-serif;
  font-weight: 800;
  font-size: 48px;
}
.middlepart{
color: #cccccc;
position: absolute;
width: 50%;
height: 50%;
left: 1061px;
top: 467px;
}
#foot{
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 1920px) and (min-height: 1080px) {
  .navbar a {
      padding: 2.5vw 1.5vw;
      font-size: 2.5vw;
  }

  .navbar a.active {
      padding: 2.5vw 1.5vw;
  }

  .nav-right {
      top: 1vw;
      right: 2vw;
  }

  h1 {
      font-size: 3vw;
      text-align: right;
  }

  p {
      margin-left: 2vw;
  }

  footer {
      padding: 1vw;
  }

  .upleftlogo {
      width: 10vw;
      height: 5.3vw;
  }

  .frame {
      margin: 3.2vw;
  }

  .contain2 img {
      height: 5.4vh;
      width: 9vw;
      margin-right: 0.5vw;
  }

  .top-right a {
      font-size: 2.4vw;
  }

  .bottom-right a {
      font-size: 1.4vw;
  }

  .middlepart {
      width: 6vw;
      height: 6vw;
      left: 5.8vw;
      top: 27vw;
  }
}

@media only screen and (min-width: 420px) and (min-height: 900px) {
  .navbar a {
      padding: 3.6vw 2vw;
      font-size: 4vw;
  }

  .navbar a.active {
      padding: 3.6vw 2vw;
  }

  .nav-right {
      top: 1.6vw;
      right: 3.2vw;
  }

  h1 {
      font-size: 4.8vw;
      text-align: right;
  }

  p {
      margin-left: 1.6vw;
  }

  footer {
      padding: 1vw;
  }

  .upleftlogo {
      width: 11.1vw;
      height: 5.9vw;
  }

  .frame {
      margin: 3.2vw;
  }

  .contain2 img {
      height: 2.7vh;
      width: 4.5vw;
      margin-right: 0.5vw;
  }

  .top-right a {
      font-size: 2vw;
  }

  .bottom-right a {
      font-size: 1.2vw;
  }

  .middlepart {
      width: 8vw;
      height: 8vw;
      left: 2vw;
      top: 4vw;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 800px) {
  .navbar a {
      padding: 1.9vw 1.1vw;
      font-size: 2.5vw;
  }

  .navbar a.active {
      padding: 1.9vw 1.1vw;
  }

  .nav-right {
      top: 1.1vw;
      right: 2.3vw;
  }

  h1 {
      font-size: 3.1vw;
      text-align: right;
  }

  p {
      margin-left: 2.3vw;
  }

  footer {
      padding: 1.1vw;
  }

  .upleftlogo {
      width: 9.3vw;
      height: 5vw;
  }

  .frame {
      margin: 2.3vw;
  }

  .contain2 img {
      height: 3.6vh;
      width: 6vw;
      margin-right: 1vw;
  }

  .top-right a {
      font-size: 1.8vw;
  }

  .bottom-right a {
      font-size: 1.vw;
  }

  .middlepart {
      width: 5.5vw;
      height: 5.5vw;
      left: 1.5vw;
      top: 8.7vw;
  }
}