

* {
    padding: 0;
    margin: 0;
}

.startpage {
    position: relative;
}

.startbut {
    /*margin-top: 500px; This makes it feel more clean. Uncomment if you think so*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 42px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.5);
}

.startbut:hover {
    background-color: rgb(0, 180, 0);
}

.sbalign {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbanchor {
    text-decoration: none;
    color: white;
}

#background {
    width: 100vw;
    height: 100.1vh;
}
/*Remember, sb means starting button or startbut */
